body {
  background-color: #555;
  background-repeat: none;
}

.factsaboutartists {
  background-image: url();
  background-repeat: none;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #f1f1f1;
  padding: 20px;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  display: block;
  padding: 10px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu a.hover {
  background-color: #333;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 32px;
}

.hero {
  background-image: url(https://c0.wallpaperflare.com/preview/225/618/416/audience-backlit-black-and-white-blue.jpg);
  background-size: cover;
  height: 100vh;
  display: grid;
  justify-content: left;
  align-items: left;
}

.hero-text {
}

.hero-text h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.hero-text p {
  font-size: 2rem;
}

.select {
  float: left;
}
