body {
  
  margin: 0;
}


* {
  box-sizing: border-box;
}

.hero {
  background-image: url(https://c0.wallpaperflare.com/preview/225/618/416/audience-backlit-black-and-white-blue.jpg);
  background-size: cover;
  height: 100vh;   
  display: grid;
}

.hero-text {
  text-align: center
}

.hero-text h1 {
  font-size: 15rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero-text p {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #D3D3D3;
  overflow: auto;
  height: 75%;
  position: fixed;
  border-radius: 10px;
  margin-top: 100px;

}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}